<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/vitatrack</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>
		<mapping class="web.blog.vo.Article" />
		<mapping class="web.blog.vo.Blogger" />
		<mapping class="web.member.vo.Member" />
		<mapping class="web.product.vo.Product" />
		<mapping class="web.product.vo.CartItem"/>
		<mapping class="web.member.vo.PasswordResetTokens" />
		<mapping class="web.checkout.vo.Orders" />
		<mapping class="web.checkout.vo.CartItem" />
		<mapping class="web.checkout.vo.OrderItem" />
		<mapping class="web.member.vo.Admin" />
	</session-factory>
</hibernate-configuration>

